{% extends 'base.html'%}

{% block content %}
{% if category_posts %}
{% for post in category_posts reversed %}
<div class="card-deck m-5">
    <div class="card" style="width: 80rem;">
    <div class="card-body">
    <a href="{% url 'articles' post.pk %}"> <h1 class="card-title display-1">{{post.title}}</h1></a>
    <h6 class="card-subtitle mb-2 d-body text-muted">
    {{post.created_at}}<br>
    By {{post.author.first_name}}-{{post.author.last_name}}<br> </h6>
    <p class="card-text">
    {{post.title_tag}}
    <a href="{% url 'articles' post.pk %}"> 
    {{ post.snippet }}
</a>
</p>
<a href="{% url 'index' %}" class="card-link">Back</a>
</div>
</div>
</div>

{% endfor %}
{% else %}
<h1>Page not found</h1>
{% endif %}
{% endblock %}

