{% extends 'base.html'%}
{% load static %}
{% block content %}
{% for post in object_list reversed %}

<div class="card mb-5 mt-4">
    <div class="card-body">
        <h2 class="card-title mb-3">
            {{post.title}}
        </h2><br>
        <h6 class="card-subtitle mb-2 d-body text-muted">
        {{post.created_at}}
        By {{post.author.first_name}}-{{post.author.last_name}}<br>
        </h6><br><br>
        <p class="card-text lh-lg">
            {{post.title_tag}}
            <a href="{% url 'articles' post.pk %}"> 
                {{ post.snippet }}
            </a>
        </p>
        {% if user.is_authenticated %}
        <a href="{% url 'update' post.pk %}">Edit</a>
        <a href="{% url 'delete' post.pk %}" class="card-link">Delete</a>
        {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
